@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
nav{
    background-color: #27a8f8;
}
#nav-link{
    font-family: "Grandstander", cursive;
    color: bisque !important;
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
}
#nav-link:hover{
    color: #015487 !important;

}
.sandwichBox{
color: bisque !important;
}
